<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EmployeeInfo</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript"></script>
    <script src="./angular/angular.min.js"></script><!-- load angular -->
    <script src="controller/controller.js"></script>
</head>
<body ng-controller="employeeController">
    <div class="container space">
        <center><h1>Employees Infomation</h1></center>
        <!-- FORM TO CREATE TODOS -->
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <div class="col-sm-2 form_space">
                            <label>Firstname</label>
                        </div>
                        <div class="col-sm-10 form_space">
                            <input type="text" class="form-control input-lg text-center" placeholder="Insert Firstname" ng-model="Firstname">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-sm-2 form_space">
                            <label>Lastname</label>
                        </div>
                        <div class="col-sm-10 form_space">
                            <input type="text" class="form-control input-lg text-center" placeholder="Insert Lastname" ng-model="Lastname">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 form_space">
                            <label>EmailId</label>
                        </div>
                        <div class="col-sm-10 form_space">
                            <input type="email" class="form-control input-lg text-center" placeholder="Insert EmailId" ng-model="email">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-sm-2 form_space">
                            <label>Designation</label>
                        </div>
                        <div class="col-sm-10 form_space">
                            <select name="singleSelect" class="form-control input-lg text-center" ng-model="Designation">
                              <option value="">Select Designation</option>
                              <option value="B.E">B.E</option>
                              <option value="MBA">MBA</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-sm-2 form_space">
                            <label>Data Of Birth</label>
                        </div>
                        <div class="col-sm-10 form_space">
                            <input type="date" class="form-control input-lg text-center" placeholder="Insert Data Of Birth" ng-model="dob">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg addButton form_space" ng-click="submit();"><a href="/">Add </a></button>
                </form>
            </div>
        </div>

        <!-- employees LIST -->
        <div id="todo-list" class="container row">
                <!-- <pre>{{employees}}</pre> -->
                <table class="table table-inverse">
                  <thead>
                    <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>EmailID</th>
                      <th>Designation</th>
                      <th>Date Of Birth</th>
                      <th>update</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="employee in employees">
                            <td>
                                <input type="text" class="form-control input-sm text-center" ng-model="employee.Firstname"/>
                            </td>
                            <td>
                                <input type="text" class="form-control input-sm text-center" ng-model="employee.Lastname"/>
                            </td>
                            <td>
                                <input type="text" class="form-control input-sm text-center" ng-model="employee.email"/>
                            </td>
                            <td>
                                <select ng-model="employee.Designation" class="form-control input-sm text-center">
                                    <option value="">{{employee.Designation}}</option>
                                    <option value="B.E" ng>B.E</option>
                                    <option value="MBA" ng>MBA</option>
                                </select>
                            </td>
                            <td>
                                <input type="date" class="form-control input-sm text-center" ng-model="employee.dob"/>{{employee.dob | date:'MM/dd/yyyy'}}
                            </td>
                            <td>
                                <button class="form-control input-sm text-center" ng-click="UpdateInfo(employee)"><a href="/">Update</a></button>
                            </td>
                            <td>
                                <button class="form-control input-sm text-center" ng-click="deleteTodo(employee._id)"><a href="/">Delete</a></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>